<p class="btn btn-light" role="button"><%= link_to 'Libraries', '/libraries' %></p>
<p class="btn btn-light" role="button"><%= link_to 'Books', '/books' %></p>
<br><br>
<h1><%= @library.name %> library</h1><br>

<p>Books:</p>
<% @books.each do |book| %>
  name: <%= book.name %><br>
  author: <%= book.author %><br>
  id: <%= book.id %><br>
  library id: <%= book.library_id %><br>
  rating: <%= book.rating %><br>
  availability: <%= book.available %><br><br>
  <div class="dateandtime">
  created at: <%= book.created_at %><br>
  updated at: <%= book.updated_at %></div><br><br><br>

<% end %>
