<p class="btn btn-light" role="button"><%= link_to 'Libraries', '/libraries' %></p>
<p class="btn btn-light" role="button"><%= link_to 'Books', '/books' %></p>

<h3 class="header">List of all Books in Pushkin Network</h3>

<div class="container">
  <% @books.each_slice(3)  do |books| %>
  <div class="row">
    <% books.each  do |book| %>
    <div class="col-sm-6 col-lg-4">
      <a href="/books/<%= book.id %>" class="btn btn-warning" role="button"><%= book.name %></a>

      <p>Author: <%= book.author %>;
        Book id: <%= book.id %>;
        Library id: <%= book.library_id %>;
        Availability: <%= book.available %>;
        Rating: <%= book.rating %></p>
        <div class="dateandtime">
        <p>Created at: <%= book.created_at  %>;
          Updated at: <%= book.updated_at  %></p></div>

        </div>
        <% end %>
      </div>
      <% end %>
    </div>
