<a href="/airports">Back to All Airports</a>

<h1><%= @airport.name %></h1>

<p><%= "Number of Terminals: #{@airport.terminals}" %></p>
<p><%= "International Hub: #{@airport.international_hub}" %></p>
<p><%= "Created At: #{@airport.created_at}" %></p>
<p><%= "Updated At: #{@airport.updated_at}" %></p>

<a href="/airports/airports/<%=@airport.id%>/airlines">Airlines At This Airport</a>
