<h1>All Airlines</h1>

<% @airlines.each do |airline| %>
  <h2><%= airline.name %></h2>
  <p><%= "Flight Number: #{airline.flight_number}" %></p>
  <p><%= "Domestic Flight: #{airline.domestic_flight}" %></p>
  <p><%= "Created At: #{airline.created_at}" %></p>
  <p><%= "Updated At: #{airline.updated_at}" %></p>
  <br/>
<% end %>
