<a href="/airports/<%= @airport.id %>"><%= "Back to #{@airport.name}" %></a>
<a href="/airlines">All Airlines</a>
<a href="/airports">All Airports</a>

<h1><%= "Airlines Flying at #{@airport.name}" %></h1>

<% @airlines.each do |airline| %>
  <h2><%= airline.name %></h2>
  <p><%= "Flight Number: #{airline.flight_number}" %></p>
  <p><%= "Domestic Flight: #{airline.domestic_flight}" %></p>
  <p><%= "Created At: #{airline.created_at}" %></p>
  <p><%= "Updated At: #{airline.updated_at}" %></p>
  <br/>
<% end %>
