<%= link_to "countries index", "/countries" %>
<%= link_to "cities index", "/cities" %>

<h1>All Countries</h1>

<% @countries.each do |country| %>
  <h3><%=  "#{country.name}: cities count =  #{country.cities.length}" %></h3>
  <p><%= "#{country.created_at}"%> </p>

  <%= link_to "Update #{country.name}", "/countries/#{country.id}/edit" %>
  <%= link_to 'Delete', "/countries/#{country.id}", method: :delete %>
<% end %>

<br>
<br>
<br>
<%= link_to "new countries", "/countries/new" %>
