<a href="/airlines">Back to All Airlines</a>

<h1><%= @airline.name %></h1>

<p><%= "Flight Number: #{@airline.flight_number}" %></p>
<p><%= "Domestic Flight: #{@airline.domestic_flight}" %></p>
<p><%= "Created At: #{@airline.created_at}" %></p>
<p><%= "Updated At: #{@airline.updated_at}" %></p>
