<a href="/airlines">Back to All Airlines</a>
<a href="/airports">Airports</a>

<h1><%= @airline.name %></h1>

  <li><%= "Flight Number: #{@airline.flight_number}" %></li>
  <li><%= "Domestic Flight: #{@airline.domestic_flight}" %></li>
  <li><%= "Created At: #{@airline.created_at}" %></li>
  <li><%= "Updated At: #{@airline.updated_at}" %></li>

<a href="/airlines/<%=@airline.id%>/edit">Update Airline</a>
