<%= link_to "countries index", "/countries" %>
<%= link_to "cities index", "/cities" %>

<h3><%= @city.name %></h3>
<p><%= @city.population %></p>
<p><%= @city.capital %></p>
<p><%= "#{@city.country_id} (aka #{@country.name})"%></p>

<%= link_to "Update City", "/cities/#{@city.id}/edit" %>
