<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Project1</title>
=======
    <title>RelationalRails</title>
>>>>>>> ec7d96e22c4611d91dca0e1fdc42f8fdf21d472f
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
